@page "/add"

<h3>Ajout de donnée</h3>

<EditForm Model="@itemModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="display-name">
            Display name:
            <InputText class="form-control" id="display-name" @bind-Value="itemModel.DisplayName" />
        </label>
    </p>
    <p>
        <label for="name">
            Name:
            <InputText class="form-control"  id="name" @bind-Value="itemModel.Name" />
        </label>
    </p>
    <p>
        <label for="stack-size">
            Stack size:
            <InputNumber class="form-control"  id="stack-size" @bind-Value="itemModel.StackSize" />
        </label>
    </p>
    <p>
        <label for="max-durability">
            Max durability:
            <InputNumber class="form-control"  id="max-durability" @bind-Value="itemModel.MaxDurability" />
        </label>
    </p>
    <p>
        Enchant categories:
        <div class="">
            @foreach (var item in enchantCategories)
            {
                <label class=" m-3">
                    <input type="checkbox" class="form-check-input"  @onchange="@(e => OnEnchantCategoriesChange(item, e.Value))" />@item
                </label> 
            }
        </div>
    </p>
    <p>
        Repair with:
        <div>
            @foreach (var item in repairWith)
            {
                <label class=" m-3">
                    <input type="checkbox" class="form-check-input"  @onchange="@(e => OnRepairWithChange(item, e.Value))" />@item
                </label>
            }
        </div>
    </p>
    <p>
        <label>
            Item image:
            <InputFile class="form-control"  OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
    <p>
        <label>
            Accept Condition:
            <InputCheckbox class="form-check-input"  @bind-Value="itemModel.AcceptCondition" />
        </label>
    </p>

    <button class="btn-success"  type="submit">Submit</button>
</EditForm>